header {
  background-color: #c1f4c5;
  color: #fff;
}

header p {
  font-size: 15px;
  color: #65c18c;
}

header ion-icon {
  font-size: 15px;
  color: #65c18c;
}

header h1 {
  font-family: "Fjalla One", sans-serif;
}

header img {
  height: 40px;
}

.choose {
  height: 100vh;
  background-image: url("./imgs/19629.jpg");
  background-size: cover;
  background-position: 10px;
  background-position-x: center;
  overflow: hidden;
}

.question h2 {
  color: #fff;
}

.body-question {
  background-color: #fff;
  border-radius: 10px;
}

.items div {
  background-color: #ffbed8;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 10px 0 15px;
  opacity: 0.8;
}

.items div:hover {
  background-color: #ff7ba9;
  padding: 15px 15px 5px 20px;
  opacity: 1;
}

.question {
  background-color: #65c18c;
  font-family: "Rubik", sans-serif;
}

.question-container {
  width: 300px;
  border: 2px solid #ccc;
  color: #ccc;
  border-radius: 10px;
}

.question-container:hover {
  color: #ff7ba9;
  border: 2px solid #ff7ba9;
}

.question-container-active {
  color: #ff7ba9;
  border: 2px solid #ff7ba9;
}

.question h2 {
  opacity: 0.8;
}

ion-icon {
  font-size: 20px;
}

.icon_question-container img {
  position: absolute;
  width: 80px;
}
